.movies-card-list {
  padding-bottom: 95px;
}

.movies-card-list__container {
  display: grid;
  padding: 0;
  margin: 0 0 57px;
  gap: 31px 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  list-style-type: none;
}

.movies-card-list__more-button {
  display: flex;
  min-width: 320px;
  height: 36px;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  margin: 0 auto;
  background-color: #2f2f2f;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(15 / 12);
}

@media screen and (max-width: 768px) {
  .movies-card-list {
    padding-bottom: 95px;
  }

  .movies-card-list__container {
    margin-bottom: 74px;
    gap: 27px 30px;
    grid-template-columns: repeat(2, 1fr);
  }
}
