.profile {
  height: calc(100vh - 74px);
  background-color: #202020;
}

.profile__container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.profile__title {
  padding-top: 74px;
  margin: 0 0 106px;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(29 / 24);
  text-align: center;
}

.profile__form {
  display: flex;
  max-width: 410px;
  flex-direction: column;
  margin: 0 auto 203px;
}

.profile__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 15px;
  border-bottom: 1px solid #424242;
}

.profile__label:last-child {
  border-bottom: none;
}

.profile__placeholder {
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(13 / 11);
}

.profile__input {
  border: none;
  background: none;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(13 / 11);
  text-align: right;
}

.profile__input:focus {
  outline: none;
}

.profile__button {
  display: block;
  border: none;
  margin: 0 auto 13px;
  background: none;
  cursor: pointer;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(16 / 13);
}

.profile__button_type_edit {
  color: #fff;
}

.profile__button_type_logout {
  color: #ee3465;
}

@media screen and (max-width: 768px) {
  .profile__title {
    padding-top: 235px;
    margin-bottom: 80px;
  }

  .profile__form {
    margin-bottom: 193px;
  }
}
