.header__nav-account {
  margin: 0 3px 0 8px;
}

.header__link_movies {
  margin-left: 20px;
  font-size: 14px;
}

.header__nav-item_movies:last-of-type {
  margin-left: 40px;
}

.header__nav-item_movies:last-of-type .header__link_movies:last-of-type {
  font-size: 13px;
}
