.not-found {
  position: static;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #202020;
}

.not-found__caption {
  margin: 0;
  color: #fff;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(169 / 140);
}

.not-found__text {
  margin: 5px 0 0;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(19 / 16);
}

.not-found__button {
  position: relative;
  top: 185px;
  padding: 0;
  border: none;
  background: none;
  color: #4285f4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(17 / 14);
}

@media screen and (max-width: 320px) {
  .not-found {
    padding-top: 7px;
  }

  .not-found__caption {
    font-size: 80px;
    line-height: calc(97 / 80);
  }

  .not-found__text {
    margin-top: 10px;
    font-size: 12px;
    line-height: calc(15 / 12);
  }

  .not-found__button {
    top: 285px;
    font-size: 12px;
    line-height: calc(15 / 12);
  }
}
