.movies {
  background-color: #202020;
}

.movies__container {
  max-width: calc(1280px - 2 * 70px);
  padding: 0 70px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .movies__container {
    padding: 0 30px;
  }
}
