.about-project {
  background-color: #202020;
}

.about-project__container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.about-project__subtitle {
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -.04em;
  line-height: calc(24 / 20);
}

.about-project__text {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(20 / 14);
}

.about-project__description {
  display: grid;
  padding-top: 69px;
  margin-bottom: 110px;
  column-gap: 21px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

.about-project__timeline {
  display: grid;
  padding-bottom: 96px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(2, auto);
}

.about-project__timeline-part {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  line-height: calc(17 / 14);
  text-align: center;
}

.about-project__timeline-graph {
  padding: 10px 0;
  font-weight: 400;
}

.about-project__timeline-text {
  padding: 14px 0;
  color: #8b8b8b;
  font-weight: 500;
}

.about-project__timeline-1week {
  background-color: #3ddc84;
  color: #000;
}

.about-project__timeline-rest {
  background-color: #303030;
  color: #fff;
}
