.about-me {
  background-color: #202020;
}

.about-me__container {
  max-width: calc(1280px - 2 * 70px);
  padding: 0 70px;
  margin: 0 auto;
}

.about-me__info {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
}

.about-me__text {
  max-width: 598px;
}

.about-me__name {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -.04em;
  line-height: calc(58 / 50);
}

.about-me__profession {
  padding: 0;
  margin: 18px 0 0;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(20 / 18);
}

.about-me__description {
  padding: 0;
  margin: 25px 0 0;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(22 / 14);
}

.about-me__github {
  display: block;
  margin-top: 99px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(17 / 14);
  text-decoration: none;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .about-me__container {
    padding: 0 50px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: calc(40 / 40);
  }

  .about-me__profession {
    margin-top: 16px;
    font-size: 12px;
    line-height: calc(18 / 12);
  }

  .about-me__description {
    max-width: 356px;
    margin-top: 20px;
    font-size: 12px;
    line-height: calc(18 / 12);
  }

  .about-me__github {
    margin-top: 88px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}
